<div class="flex-column">
    <button onclick="get_data('{{ ajax_prev_url }}');" class="paginate-button" type="button" {% if ajax_prev_url is none %}disabled{% endif %}>
        ❮
    </button>
</div>
<div class="flex-column flex-grow-1">
    <ul class="list-group my-0 px-3">
{#        <li class="list-group-item d-flex justify-content-between align-items-center mb-1">#}
{#            <span class="font-weight-bold">Category</span>#}
{#            <span class="font-weight-bold">Note</span>#}
{#            <span class="font-weight-bold">Price</span>#}
{#        </li>#}
    {% for card in cards.items %}
        <li class="list-group-item d-flex justify-content-between align-items-center my-1">
            <div class="decor-left">
                <a href="{{ url_for('main.describe', category=card.category, year=card.year, month=card.month) }}">
                    {{ card.category }}
                </a>
            </div>
            <div>{% if card.note %}{{ card.note }}{% endif %}</div>
            <div>
            {% if card.kind %}
                <div class="badge badge-pill badge-success" style="font-size: 14px;">+{{ card.price }} {{ currency }}</div>
            {% else %}
                <div class="badge badge-pill badge-danger" style="font-size: 14px;">-{{ card.price }} {{ currency }}</div>
            {% endif %}
{#                <a href="{{ url_for('card.change', id=card.id) }}">#}
{#                    <i class="material-icons" style="font-size: 14px;">create</i>#}
{#                </a>#}
{#                <a href="{{ url_for('card.delete', id=card.id) }}">#}
{#                    <i class="material-icons" style="font-size: 14px;">delete</i>#}
{#                </a>#}
            </div>
        </li>
    {% endfor %}
        <li class="list-group-item d-flex justify-content-between align-items-center mt-1">
            <span class="index-card__total">Total</span>
{#        <td></td>#}
{#        <td></td>#}
{#        <td></td>#}
        {% if total < 0 %}
            <span class="index-card__total" style="color: #eb0000;">{{ total }}</span>
        {% else %}
            <span class="index-card__total" style="color: #00af00;">+{{ total }}</span>
        {% endif %}
        </li>
    </ul>
</div>
<div class="flex-column">
    <button onclick="get_data('{{ ajax_next_url }}');" class="paginate-button" type="button" {% if ajax_next_url is none %}disabled{% endif %}>
        ❯
    </button>
</div>