<div class="flex-column">
    <button onclick="get_data('{{ ajax_prev_url }}');" class="paginate-button" type="button" {% if ajax_prev_url is none %}disabled{% endif %}>
        ❮
    </button>
</div>
<div class="flex-column flex-grow-1">
    <ul class="list-group bg-white my-0">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="font-weight-bold">Category</span>
            <span class="font-weight-bold">Note</span>
            <span class="font-weight-bold">Price</span>
        </li>
    {% for card in cards.items %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="decor-left">
                    <a href="{{ url_for('main.describe', category=card.category, year=card.year, month=card.month) }}">
                        {{ card.category }}
                    </a>
                </span>
                <span>{% if card.note %}{{ card.note }}{% endif %}</span>
            <div>
            {% if card.kind %}
                <span class="badge badge-pill badge-success">+{{ card.price }} {{ currency }}</span>
            {% else %}
                <span class="badge badge-pill badge-danger">-{{ card.price }} {{ currency }}</span>
            {% endif %}
{#            <span>#}
{#                <a href="{{ url_for('card.change', id=card.id) }}">#}
{#                    <i class="material-icons">create</i>#}
{#                </a>#}
{#                <a href="{{ url_for('card.delete', id=card.id) }}">#}
{#                    <i class="material-icons">delete</i>#}
{#                </a>#}
{#            </span>#}
            </div>
        </li>
    {% endfor %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="index-card__total">Total</span>
{#        <td></td>#}
{#        <td></td>#}
{#        <td></td>#}
        {% if total < 0 %}
            <span class="index-card__total" style="color: #eb0000;">{{ total }}</span>
        {% else %}
            <span class="index-card__total" style="color: #00af00;">+{{ total }}</span>
        {% endif %}
        </li>
    </ul>
</div>
<div class="flex-column">
    <button onclick="get_data('{{ ajax_next_url }}');" class="paginate-button" type="button" {% if ajax_next_url is none %}disabled{% endif %}>
        ❯
    </button>
</div>