<div class="flex-column">
    <button onclick="get_data('{{ ajax_prev_url }}');" class="paginate-button" type="button" {% if ajax_prev_url is none %}disabled{% endif %}>
        ❮
    </button>
</div>
<div class="flex-column flex-grow-1">
    <table class="table bg-white my-0">
    {% for card in cards.items %}
        <tr class="border-bottom">
            <td>
                <span class="decor-left">
                    <a href="{{ url_for('main.describe', category=card.category, year=card.year, month=card.month) }}">
                        {{ card.category }}
                    </a>
                </span>
            </td>
            <td><span>{% if card.note %}{{ card.note }}{% endif %}</span></td>
            {% if card.kind %}
                <td><span class="float-right" style="color: #00af00;">+{{ card.price }} {{ currency }}</span></td>
            {% else %}
                <td>
                    <span class="float-right" style="color: #eb0000;">-{{ card.price }} {{ currency }}</span>
                </td>
            {% endif %}
            <td class="border-left" style="max-width: 100px">
                <span class="d-flex justify-content-around">
                    <a href="{{ url_for('card.change', id=card.id) }}">&#128394;</a>
                    <a href="{{ url_for('card.delete', id=card.id) }}">
                        <i class="material-icons">delete</i>
                    </a>
                </span>
            </td>
        </tr>
    {% endfor %}
        <td><span class="index-card__total">Total</span></td>
        <td></td>
        {% if total < 0 %}
            <td><span class="index-card__total float-right" style="color: #eb0000;">{{ total }} {{ currency }} </span></td>
        {% else %}
            <td><span class="index-card__total float-right" style="color: #00af00;">+{{ total }} {{ currency }}</span></td>
        {% endif %}
    </table>
</div>
<div class="flex-column">
    <button onclick="get_data('{{ ajax_next_url }}');" class="paginate-button" type="button" {% if ajax_next_url is none %}disabled{% endif %}>
        ❯
    </button>
</div>