{% extends 'main/base.html' %}


{% block app_content %}
    <div class="d-flex" style="background-color: #FFFFFF;">
        <canvas id="graph_bars"></canvas>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        let cat = {{ cat|safe }};
        let price = {{ prices|safe }};
        let bar = document.getElementById('graph_bars').getContext('2d');
        new Chart(bar, {
            type: 'bar',
            data: {
                labels: cat,
                datasets: [{
                    label: 'Category',
                    data: price,
                    fill: false,
                    backgroundColor: "rgba(255,82,2, 0.8)",
                    borderColor: "rgba(255,5,7,0.8)",
                    borderWidth: 2,
                    hoverBackgroundColor: "rgba(255,82,2,1)",
                    hoverBorderColor: "rgba(255,5,7,1)",
                    lineTension: 0.1
                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: "black"
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: "black",
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Price'
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontColor: "black"
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'Costs by category'
                }
            }
        });
    </script>
{% endblock %}