{% extends 'main/base.html' %}


{% block app_content %}
    <canvas id="graph_line"></canvas>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        let days = {{ days|safe }};
        let price = {{ prices|safe }};
        let line = document.getElementById('graph_line').getContext('2d');
        new Chart(line, {
            type: 'line',
            data: {
                labels: days,
                datasets: [{
                    label: 'Expenses in day',
                    data: price,
                    fill: false,
                    borderColor: "#130bb0",
                    lineTension: 0.1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Your expenses in '
                },
                legend: {
                    labels: {
                        fontColor: 'black'
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: 'black',
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Price'
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontColor: 'black'
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Days'
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}
