<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bookkeeping</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
              integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark position-fixed w-100" style="height: 80px; background-color: #2a2a2a; top: 0; z-index: 30;">
            <a class="navbar-brand" href="{{ url_for('main.preview') }}"><b>Bookkeeping</b></a>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="mx-4 decor-left"><a class="nav-link" href="{{ url_for('main.index')}}">Home</a></li>
                    {% if current_user.is_active %}
                    <li class="mx-4 decor-left"><a href="{{ url_for('auth.logout') }}"><button class="light-button">Log out</button></a></li>
                    {% else %}
                    <li class="mx-4 decor-left"><a class="nav-link" href="{{ url_for('auth.login') }}">Sign in</a></li>
                    <li class="mx-4 decor-left"><a class="nav-link" href="{{ url_for('auth.register') }}">Sign up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% if current_user.is_active %}
        <div class="burger-menu">
            <a href="" class="burger-menu__button"><span class="burger-menu__lines"></span></a>
            <nav class="burger-menu__nav">
                <a href="#" class="burger-menu__link">{{ current_user.username }}</a>
                <a href="{{ url_for('main.index') }}" class="burger-menu__link">Home</a>
                <a href="{{ url_for('card.create') }}" class="burger-menu__link">Add card</a>
                <a href="{{ url_for('main.table') }}" class="burger-menu__link">Table</a>
            </nav>
        </div>
        {% endif %}
        <div class="d-flex flex-column flex-grow-1" style="margin-top: 140px;margin-bottom: 60px">
            <div class="container">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-info" style="z-index: 100" role="alert">{{ message }}!</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block app_content %}{% endblock %}
            </div>
        </div>
        <footer  style="background-color: #2a2a2a;">
            <div class="container py-2" style="color:#b9b9b9;">
                <div class="d-flex justify-content-between">
                    <span>&copy; Copyright 2019. All rights reserved.</span>
                    <span>Created by <span style="color: #ffffff;">Denis Pashnev</span> <a href="https://github.com/MickiMouse/bookkeeping"><i class="fab fa-github" style="color: #FFFFFF;"></i></a></span>
                </div>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/burger.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>