{% extends 'main/base.html' %}


{% block app_content %}
    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <a href="{{ url_for('main.index', month=month - 1, year=year) }}" class="btn-lg">&lt;</a>
            <h2>{{ date[0] }} {{ date[1] }}</h2>
            <a href="{{ url_for('main.index', month=month + 1, year=year) }}" class="btn-lg">&gt;</a>
        </div>
        <a href="{{ url_for('card.create') }}"><button class="light-button">Add card</button></a>
    </div>
    <div class="d-flex my-3" id="content">
        {% include 'include/_card.html' %}
    </div>
    <div class="d-flex">
        <div class="flex-column flex-grow-1 bg-white mr-2">
            <p class="p-2 my-0">Top-5 expensive categories in {{ date[0] }} {{ date[1] }}</p>
            <table class="table">
            {% for percent in percents %}
                <tr>
                    <td class="percent">
                        <span class="decor-left">
                            <a href="{{ url_for('main.describe', category=percent[0], year=year, month=month) }}">
                                {{ percent[0] }}
                            </a>
                        </span>
                    </td>
                    <td class="percent"><span>{{ percent[1] }} $</span></td>
                    <td class="percent"><span class="float-right">{{ percent[2] }}%</span></td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="flex-column flex-grow-1 bg-white ml-2" style="max-width: 550px;">
            <p class="p-2 my-0   border-bottom">Costs per {{ date[0] }} {{ date[1] }}</p>
            <canvas id="pieAllCategories"></canvas>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        let categories = {{ categories|safe }};
        let prices = {{ prices|safe }}
        new Chart(document.getElementById("pieAllCategories").getContext('2d'), {
            type: 'doughnut',
            data: {
                labels: categories,
                datasets: [{
                    backgroundColor: {{ bg_colors|safe }},
                    data: prices,
                }]
            },
            options: {
                legend: {
                    display: true,
                    position: 'left'
                }
            }
        });
        function get_data(page) {
            $.ajax({
                type: "GET",
                url: "/get_data?month={{ month }}&year={{ year }}&page="+page,
                success: function (response) {
                    $('#content').html(response);
                    console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
        get_data('{{ page }}');
    </script>
{% endblock %}