@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,60');
body {
    background-color: #cdcdcd;
    margin: 0;
    padding: 0;
    /*font-family: "Roboto", Arial, sans-serif;*/
    font-family: "Poppins", sans-serif;
}
a {
    color: #333;
    text-decoration: none!important;
}
a:hover {
    color: #2a2a2a;
    transition: 0.5s;
}
h2 {
    font-weight: bold;
}
.prev {
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
.style-form {
    width: 25%;
    background-color: #f0f0f0;
}
.burger-menu__button {
    position: fixed;
    top: 80px;
    z-index: 35;
    width: 50px;
    height: 50px;
    background-color: #4f4f4f;
    transition: 0.6s;
}
.burger-menu__button:hover, .burger-menu__lines {
    filter: brightness(0.7);
}
.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: #fff;
}
.burger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.burger-menu__lines::before {
    content: '';
    top: -8px;
}
.burger-menu__lines::after {
    content: '';
    top: 8px;
}
.burger-menu__active .burger-menu__button,
.burger-menu__active .burger-menu__lines {
    background-color: transparent;
}
.burger-menu__active .burger-menu__lines::before {
    top: 0;
    transform: rotate(45deg);
}
.burger-menu__active .burger-menu__lines::after {
    top: 0;
    transform: rotate(-45deg);
}
.burger-menu__nav {
    padding-top: 80px;
    margin-top: -70px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #4f4f4f;
    overflow-y: auto;
    left: -100%;
    transition: 0.5s;
}
.burger-menu__active .burger-menu__nav {
    left: 0;
}
.burger-menu__link {
    padding: 15px;
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.burger-menu__link:hover {
    filter: brightness(0.7);
    color: #fff;
}
.dark-button {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #2a2a2a;
	background-color: #2a2a2a;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
    cursor: pointer;
}
.light-button {
    border-radius: 20px;
    border: 1px solid #2a2a2a;
	background-color: #FFFFFF;
    color: #2a2a2a;
    font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
    cursor: pointer;
}
.dark-button:focus, .light-button:focus {
    outline: none;
}
.dark-button:disabled {
    opacity: 0.7;
}
.percent {
    font-size: 34px;
    font-weight: bolder;
}