{% extends 'base.html' %}


{% block app_content %}
    <canvas id="bars"></canvas>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        let month = {{ month|safe }};
        let price = {{ prices|safe }};
        let bar = document.getElementById('bars').getContext('2d');
        new Chart(bar, {
            type: 'horizontalBar',
            data: {
                labels: month,
                datasets: [{
                    label: '{{ category }}',
                    data: price,
                    fill: false,
                    backgroundColor: "rgba(255,82,2, 0.8)",
                    borderColor: "rgba(255,5,7,0.8)",
                    borderWidth: 2,
                    hoverBackgroundColor: "rgba(255,82,2,1)",
                    hoverBorderColor: "rgba(255,5,7,1)",
                    lineTension: 0.1
                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: "black"
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: "black"
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontColor: "black",
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}