{% extends 'base.html' %}


{% block app_content %}
    <h2>Days</h2>
    <form action="" method="post">
        {{ form_day.hidden_tag() }}
        <p>
            {{ form_day.month.label }}
            {{ form_day.month() }}
            {% for error in form_day.month.errors %}
                {{ error }}
            {% endfor %}
        </p>
        <p>
            {{ form_day.year.label }}
            {{ form_day.year() }}
            {% for error in form_day.year.errors %}
                {{ error }}
            {% endfor %}
        </p>
        {{ form_day.submit() }}
    </form>

    <h2>Category</h2>
    <form action="" method="post">
        {{ form_cat.hidden_tag() }}
        <p>
            {{ form_cat.month.label }}
            {{ form_cat.month() }}
            {% for error in form_cat.month.errors %}
                {{ error }}
            {% endfor %}
        </p>
{#        <p>#}
{#            {{ form_cat.year.label }}#}
{#            {{ form_cat.year() }}#}
{#            {% for error in form_cat.year.errors %}#}
{#                {{ error }}#}
{#            {% endfor %}#}
{#        </p>#}
        {{ form_cat.submit() }}
    </form>
{% endblock %}

{##}
{#{% block scripts %}#}
{#    {{ super() }}#}
{#    <script>#}
{#        let cat = {{ category|safe }};#}
{#        let mon = {{ months|safe }};#}
{#        let price_cat = {{ prices_cat }};#}
{#        let price_mon = {{ prices_mon }};#}
{#        let line = document.getElementById('graph_line').getContext('2d');#}
{#        new Chart(line, {#}
{#            type: 'line',#}
{#            data: {#}
{#                labels: mon,#}
{#                datasets: [{#}
{#                    label: 'Expense per month',#}
{#                    data: price_mon,#}
{#                    fill: false,#}
{#                    borderColor: "#130bb0",#}
{#                    lineTension: 0.1#}
{#                }]#}
{#            },#}
{#            options: {#}
{#                legend: {#}
{#                    labels: {#}
{#                        fontColor: 'black'#}
{#                    }#}
{#                },#}
{#                scales: {#}
{#                    yAxes: [{#}
{#                        ticks: {#}
{#                            fontColor: 'black',#}
{#                            beginAtZero:true#}
{#                        }#}
{#                    }],#}
{#                    xAxes: [{#}
{#                        ticks: {#}
{#                            fontColor: 'black'#}
{#                        }#}
{#                    }]#}
{#                }#}
{#            }#}
{#        });#}
{##}
{#        let bar = document.getElementById('graph_bars').getContext('2d');#}
{#        new Chart(bar, {#}
{#            type: 'bar',#}
{#            data: {#}
{#                labels: cat,#}
{#                datasets: [{#}
{#                    label: 'Categories',#}
{#                    data: price_cat,#}
{#                    fill: false,#}
{#                    backgroundColor: "rgba(255,82,2, 0.8)",#}
{#                    borderColor: "rgba(255,5,7,0.8)",#}
{#                    borderWidth: 2,#}
{#                    hoverBackgroundColor: "rgba(255,82,2,1)",#}
{#                    hoverBorderColor: "rgba(255,5,7,1)",#}
{#                    lineTension: 0.1#}
{#                }]#}
{#            },#}
{#            options: {#}
{#                legend: {#}
{#                    labels: {#}
{#                        fontColor: "black"#}
{#                    }#}
{#                },#}
{#                scales: {#}
{#                    yAxes: [{#}
{#                        ticks: {#}
{#                            fontColor: "black",#}
{#                            beginAtZero: true#}
{#                        }#}
{#                    }],#}
{#                    xAxes: [{#}
{#                        ticks: {#}
{#                            fontColor: "black"#}
{#                        }#}
{#                    }]#}
{#                }#}
{#            }#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}
