{% extends 'base.html' %}


{% block app_content %}
    <h2>Days</h2>
    <form action="" method="post">
        {{ form_day.hidden_tag() }}
        <p>
            {{ form_day.month1.label }}
            {{ form_day.month1() }}
            {% for error in form_day.month1.errors %}
                {{ error }}
            {% endfor %}
        </p>
        <p>
            {{ form_day.year1.label }}
            {{ form_day.year1() }}
            {% for error in form_day.year1.errors %}
                {{ error }}
            {% endfor %}
        </p>
        {{ form_day.submit() }}
    </form>

    <form action="" method="post">
        {{ form_mon_line.hidden_tag() }}
        <p>
            {{ form_mon_line.year4.label }}
            {{ form_mon_line.year4() }}
            {% for error in form_mon_line.year4.errors %}
                {{ error }}
            {% endfor %}
        </p>
        {{ form_mon_line.submit() }}
    </form>

    <h2>Category</h2>
    <form action="" method="post">
        {{ form_cat.hidden_tag() }}
        <p>
            {{ form_cat.month2.label }}
            {{ form_cat.month2() }}
            {% for error in form_cat.month2.errors %}
                {{ error }}
            {% endfor %}
        </p>
        <p>
            {{ form_cat.year2.label }}
            {{ form_cat.year2() }}
            {% for error in form_cat.year2.errors %}
                {{ error }}
            {% endfor %}
        </p>
        {{ form_cat.submit() }}
    </form>

    <form action="" method="post">
        {{ form_mon.hidden_tag() }}
        <p>
            {{ form_mon.category.label }}
            {{ form_mon.category() }}
            {% for error in form_mon.category.errors %}
                {{ error }}
            {% endfor %}
        </p>
        <p>
            {{ form_mon.year3.label }}
            {{ form_mon.year3() }}
            {% for error in form_mon.year3.errors %}
                {{ error }}
            {% endfor %}
        </p>
        {{ form_mon.submit() }}
    </form>
{% endblock %}

{##}
{#{% block scripts %}#}
{#    {{ super() }}#}
{#    <script>#}
{#        let cat = {{ category|safe }};#}
{#        let mon = {{ months|safe }};#}
{#        let price_cat = {{ prices_cat }};#}
{#        let price_mon = {{ prices_mon }};#}
{#        let line = document.getElementById('graph_line').getContext('2d');#}
{#        new Chart(line, {#}
{#            type: 'line',#}
{#            data: {#}
{#                labels: mon,#}
{#                datasets: [{#}
{#                    label: 'Expense per month',#}
{#                    data: price_mon,#}
{#                    fill: false,#}
{#                    borderColor: "#130bb0",#}
{#                    lineTension: 0.1#}
{#                }]#}
{#            },#}
{#            options: {#}
{#                legend: {#}
{#                    labels: {#}
{#                        fontColor: 'black'#}
{#                    }#}
{#                },#}
{#                scales: {#}
{#                    yAxes: [{#}
{#                        ticks: {#}
{#                            fontColor: 'black',#}
{#                            beginAtZero:true#}
{#                        }#}
{#                    }],#}
{#                    xAxes: [{#}
{#                        ticks: {#}
{#                            fontColor: 'black'#}
{#                        }#}
{#                    }]#}
{#                }#}
{#            }#}
{#        });#}
{##}
{#        let bar = document.getElementById('graph_bars').getContext('2d');#}
{#        new Chart(bar, {#}
{#            type: 'bar',#}
{#            data: {#}
{#                labels: cat,#}
{#                datasets: [{#}
{#                    label: 'Categories',#}
{#                    data: price_cat,#}
{#                    fill: false,#}
{#                    backgroundColor: "rgba(255,82,2, 0.8)",#}
{#                    borderColor: "rgba(255,5,7,0.8)",#}
{#                    borderWidth: 2,#}
{#                    hoverBackgroundColor: "rgba(255,82,2,1)",#}
{#                    hoverBorderColor: "rgba(255,5,7,1)",#}
{#                    lineTension: 0.1#}
{#                }]#}
{#            },#}
{#            options: {#}
{#                legend: {#}
{#                    labels: {#}
{#                        fontColor: "black"#}
{#                    }#}
{#                },#}
{#                scales: {#}
{#                    yAxes: [{#}
{#                        ticks: {#}
{#                            fontColor: "black",#}
{#                            beginAtZero: true#}
{#                        }#}
{#                    }],#}
{#                    xAxes: [{#}
{#                        ticks: {#}
{#                            fontColor: "black"#}
{#                        }#}
{#                    }]#}
{#                }#}
{#            }#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}
