{% extends 'base.html' %}


{% block app_content %}
    <div class="d-flex justify-content-between">
        <h2>{{ date }}</h2>
        <a href="{{ url_for('main.create_card') }}"><button class="light-button">Add card</button></a>
    </div>
    <table class="table my-3" style="background-color: #f0f0f0">
        {% for card in cards.items %}
            {% include '_card.html' %}
        {% endfor %}
        <td><span>Total</span></td>
        <td></td>
        {% if total < 0 %}
            <td><span style="color: #eb0000;float: right;">{{ total }} {{ currency }}</span></td>
        {% else %}
            <td><span style="color: #00af00;float: right;">+{{ total }} {{ currency }}</span></td>
        {% endif %}
    </table>
    <div class="d-flex justify-content-center">
        <a class="mx-1" href="{{ prev_url }}">
            <button class="dark-button" type="button" {% if prev_url is none %}disabled{% endif %}>
                ❮
            </button>
        </a>
        <a class="mx-1" href="{{ next_url }}">
            <button class="dark-button" type="button" {% if next_url is none %}disabled{% endif %}>
                ❯
            </button>
        </a>
    </div>
    <div class="d-flex flex-row justify-content-between my-5">
        <div class="d-flex flex-column" style="background-color: #f0f0f0">
            <span class="p-2" style="border-bottom: 2px solid #cdcdcd">Statistics</span>
            <div class="p-2" style="width: 550px; ">
            {% for percent in percents %}
                <div><span class="percent">{{ percent }}</span></div>
            {% endfor %}
            </div>
        </div>
        <div class="d-flex flex-column" style="background-color: #f0f0f0">
            <span class="p-2" style="border-bottom: 2px solid #cdcdcd">Costs per {{ date }}</span>
            <div class="p-2" style="width: 550px; ">
                <canvas id="pieAllCategories"></canvas>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        let categories = {{ categories|safe }};
        let prices = {{ prices|safe }}
        new Chart(document.getElementById("pieAllCategories"), {
            type: 'pie',
            data: {
                labels: categories,
                datasets: [{
                    backgroundColor: {{ bg_colors|safe }},
                    data: prices,
                }]
            },
            options: {
                legend: {
                    display: true,
                    position: 'left'
                }
            }
        });
    </script>
{% endblock %}