{% extends 'base.html' %}


{% block app_content %}
    <div class="d-flex justify-content-center">
        <a href="{{ url_for('create_card') }}"><div class="btn btn-success">Add card</div></a>
    </div>
    <div class="card-deck my-4">
        {% for card in cards.items %}
            {% include '_card.html' %}
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        <a class="mx-1" href="{{ prev_url }}">
            <button class="btn btn-success" type="button" {% if prev_url is none %}disabled{% endif %}>
                &larr; Old cards
            </button>
        </a>
        <a class="mx-1" href="{{ next_url }}">
            <button class="btn btn-success" type="button" {% if next_url is none %}disabled{% endif %}>
                New cards &rarr;
            </button>
        </a>
    </div>
{% endblock %}