{% extends 'base.html' %}


{% block app_content %}
    <h1 class="h1">Hello, {{ current_user.username }}</h1>
    {% for card in cards.items %}
        {% if card.kind == 'Profit' %}
            <div>
                <h3>{{ card.kind }}</h3>
                <p>
                    price - {{ card.price }}<br>
                    received from - {{ card.category }}<br>
                    date  - {{ card.timestamp.strftime("%Y-%m-%d %H:%M:%S") }}<br>
                </p>
            </div>
        {% else %}
            <div>
                <h3>{{ card.kind }}</h3>
                <p>
                    price - {{ card.price }}<br>
                    spent on - {{ card.category }}<br>
                    date  - {{ card.timestamp.strftime("%Y-%m-%d %H:%M:%S") }}<br>
                </p>
            </div>
        {% endif %}
    {% endfor %}
    <a href="{{ prev_url }}"><button {% if prev_url is none %}disabled{% endif %}>&larr;</button></a>
    <a href="{{ next_url }}"><button {% if next_url is none %}disabled{% endif %}>&rarr;</button></a>
{% endblock %}
