{% extends 'base.html' %}


{% block app_content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password() }}<br>
            {% for error in form.password.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2() }}<br>
            {% for error in form.password2.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </p>
        {{ form.submit() }}
    </form>
{% endblock %}