{% extends 'base.html' %}


{% block app_content %}
    <div class="d-flex flex-column">
        <div class="d-flex flex-row">
            <div class="flex-column flex-grow-1 bg-white mr-2">
                <h3 class="p-2 border-bottom">{{ category }}</h3>
                <canvas id="chartBar"></canvas>
            </div>
            <div class="flex-column flex-grow-1 bg-white ml-2">
{#            <a href="{{ url_for('main.describe', category=category, year=year, month=month-1) }}">LEFT</a>#}
                <h3 class="p-2 border-bottom">{{ date[0] }} {{ date[1] }}</h3>
{#            <a href="{{ url_for('main.describe', category=category, year=year, month=month+1) }}">RIGHT</a>#}
                <canvas id="chartPie"></canvas>
            </div>
        </div>
        <div class="flex-column bg-white mt-3">
            <h3 class="p-2 border-bottom">{{ date[0] }} {{ date[1] }}</h3>
            <canvas id="chartLine"></canvas>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        let months = {{ months|safe }};
        let prices = {{ prices_months|safe }};
        let bar = document.getElementById('chartBar').getContext('2d');
        new Chart(bar, {
            type: 'horizontalBar',
            data: {
                labels: months,
                datasets: [{
                    label: '{{ category }}',
                    data: prices,
                    fill: false,
                    backgroundColor: 'rgba(42,39,255,0.79)',
                    borderColor: 'rgba(42,39,255,0.79)',
                    borderWidth: 2,
                    hoverBackgroundColor: 'rgba(42,39,255,0.79)',
                    hoverBorderColor: 'rgba(42,39,255,0.79)',
                    lineTension: 0.1
                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: "black"
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: "black"
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontColor: "black",
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        let categories = {{ categories|safe }};
        let prices_cat = {{ prices_category|safe }};
        let pie = document.getElementById('chartPie').getContext('2d');
        new Chart(pie, {
            type: 'pie',
            data: {
                labels: categories,
                datasets: [{
                    data: prices_cat,
                    backgroundColor: ['rgba(42,39,255,0.79)'],
                }]
            },
            options: {
                legend: {
                    display: true,
                    position: 'left'
                }
            }
        });

        let days = {{ days|safe }};
        let prices_days = {{ prices_days|safe }};
        let line = document.getElementById('chartLine').getContext('2d');
        new Chart(line, {
            type: 'line',
            data: {
                labels: days,
                datasets: [{
                    label: '{{ category }}',
                    data: prices_days,
                    borderColor: 'rgba(42,39,255,0.79)',
                    backgroundColor: 'rgba(42,39,255,0.69)'
                }]
            },
            options: {
                legend: {
                    labels: {
                        fontColor: 'black'
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: 'black',
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontColor: 'black'
                        }
                    }]
                }
            }
        })
    </script>
{% endblock %}